@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
		 # General elements
		 # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
	* Correct `block` display not defined for any HTML5 element in IE 8/9
	* Correct `block` display not defined for `details` or `summary` in IE 10/11
	* and Firefox
	* Correct `block` display not defined for `main` in IE 11
	*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
		 # Forms
		 # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
		 # Specify media element style
		 # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
		 # Accessibility
		 # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
		 # Selection
		 # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

/* ------------------------------
全体設定ここから
------------------------------ */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #454545;
  font-size: 1.4rem;
  font-family: rustica, zen-kaku-gothic-new, sans-serif;
}

a {
  text-decoration: none;
  color: #454545;
}

a:hover, a:active {
  color: #454545;
}

li {
  list-style-type: none;
}

/* ------------------------------
全体設定ここまで
------------------------------ */
::-moz-selection {
  background: rgba(218, 226, 226, 0.3);
  color: #0d3c61;
}
::selection {
  background: rgba(218, 226, 226, 0.3);
  color: #0d3c61;
}

::-moz-selection {
  background: rgba(218, 226, 226, 0.3);
  color: #0d3c61;
}

/* ------------------------------
footerここから
------------------------------ */
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  background: #1f3736;
  padding: 0 10%;
}

.foot__nav {
  display: flex;
}

.foot__nav--link {
  font-size: 1.6rem;
  margin-right: 40px;
}

.foot__nav--link a {
  color: #ffffff;
  opacity: 1;
  transition: 0.2s opacity;
}

.foot__nav--link a:hover {
  opacity: 0.5;
}

.foot__wrap {
  display: flex;
  align-items: center;
}

.foot__wrap--sns {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.foot__wrap--sns svg {
  width: 100%;
  height: 100%;
}

.foot__wrap--sns path {
  fill: #ffffff;
}

.foot__wrap--copy {
  color: rgba(255, 255, 255, 0.8);
}

/* ------------------------------
footerここまで
------------------------------ */
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@media screen and (min-width: 481px) {
  /* ------------------------------
  グローバルナビここから
  ------------------------------ */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 10%;
    box-shadow: 0 6px 20px rgba(218, 226, 226, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .nav__link {
    display: flex;
  }
  .nav__link li {
    margin-right: 32px;
  }
  .nav__link li a {
    display: flex;
    align-items: center;
    color: #707070;
    opacity: 1;
    height: 100%;
    transition: 0.2s opacity;
  }
  .nav__link li a img {
    width: 80px;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav__link li a:hover {
    opacity: 0.6;
  }
  .nav__counseling {
    display: flex;
    align-items: center;
    height: 64px;
    color: #fff;
    background: #3dd8cc;
    font-size: 1.8rem;
    padding: 0 40px;
    border-radius: 32px;
    opacity: 1;
    transition: 0.2s opacity;
  }
  .nav__counseling:hover {
    color: #fff;
    opacity: 0.5;
  }
  .nav__btn {
    display: none;
  }
  /* ------------------------------
  グローバルナビここまで
  ------------------------------ */
}

@media screen and (max-width: 480px) {
  /* ------------------------------
  グローバルナビここから
  ------------------------------ */
  .nav {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .nav__link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .nav__link li {
    display: flex;
    align-items: center;
  }
  .nav__link li:not(:first-of-type) {
    border-radius: 8px;
    box-shadow: 2px 5px 8px rgba(201, 219, 219, 0.85);
  }
  .nav__link li:not(:first-of-type) a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: bold;
    margin: auto;
    position: relative;
  }
  .nav__link li:not(:first-of-type) a::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 16px;
  }
  .nav__link li:not(:first-of-type) a::after {
    content: "";
    display: block;
    width: 48px;
    height: 2px;
    background: #3dd8cc;
    margin-top: 40px;
    position: absolute;
    top: 0;
  }
  .nav__link li:nth-of-type(2) {
    width: 60%;
    height: 128px;
    margin: 24px 0;
  }
  .nav__link li:nth-of-type(2) a {
    width: 70%;
  }
  .nav__link li:nth-of-type(2) a::before {
    background-image: url("../img/nav_icon_1.png");
  }
  .nav__link li:not(:nth-of-type(2)) {
    width: 44%;
    height: 104px;
  }
  .nav__link li:not(:nth-of-type(2)) a {
    width: 100%;
  }
  .nav__link li:nth-of-type(3) {
    margin-bottom: 16px;
  }
  .nav__link li:nth-of-type(3) a::before {
    background-image: url("../img/nav_icon_2.png");
  }
  .nav__link li:nth-of-type(4) {
    margin-bottom: 16px;
  }
  .nav__link li:nth-of-type(4) a::before {
    background-image: url("../img/nav_icon_3.png");
  }
  .nav__link li:nth-of-type(5) a::before {
    background-image: url("../img/nav_icon_4.png");
  }
  .nav__link li:nth-of-type(6) a::before {
    background-image: url("../img/nav_icon_5.png");
  }
  .nav__link li--icon {
    width: 100%;
  }
  .nav__counseling {
    display: none;
  }
  .nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background: #3dd8cc;
    border: 4px solid #fff;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(61, 216, 204, 0.3);
    margin: auto;
    position: fixed;
    right: 0;
    bottom: 24px;
    left: 0;
    z-index: 15;
  }
  .nav__btn--bdr, .nav__btn--bdr::before, .nav__btn--bdr::after {
    display: block;
    width: 32px;
    height: 4px;
    background: #fff;
    border-radius: 2px;
  }
  .nav__btn--bdr::before, .nav__btn--bdr::after {
    content: "";
    position: absolute;
  }
  .nav__btn--bdr::before {
    bottom: 16px;
  }
  .nav__btn--bdr::after {
    top: 16px;
  }
  .nav__fixedCounseling {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 280px;
    color: #fff;
    background: linear-gradient(180deg, #3dd8cc 0%, #3d87d8 70%, #503dd8 100%) no-repeat;
    border: 4px solid #fff;
    border-radius: 16px 0 0 16px;
    font-size: 1.4rem;
    font-weight: bold;
    position: fixed;
    top: 20vh;
    right: 0;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    z-index: 5;
  }
  /* ------------------------------
  グローバルナビここまで
  ------------------------------ */
  .foot {
    flex-direction: column;
    height: auto;
    padding: 5%;
  }
  .foot__nav--link {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .foot__nav--link a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    margin: 0 auto;
  }
  #navActive {
    display: flex;
    opacity: 1;
    -webkit-animation: navFadeInAnimation 0.2s;
            animation: navFadeInAnimation 0.2s;
  }
  #navDisActive {
    display: none;
    opacity: 0;
    -webkit-animation: navFadeOutAnimation 0.2s;
            animation: navFadeOutAnimation 0.2s;
  }
  @-webkit-keyframes navFadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes navFadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes navFadeOutAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes navFadeOutAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.counseling__fv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 70vh;
  background: url("../img/counseling_fv.jpg") no-repeat;
  background-size: contain;
  background-position: left center;
  margin-top: 80px;
  padding: 0 10% 200px 0;
}

.counseling__fv--title {
  color: #0d3c61;
  font-size: 3.5rem;
  margin-bottom: 24px;
}

.counseling__fv--description {
  font-size: 1.6rem;
  text-align: right;
  line-height: 3rem;
}

.counseling__form {
  width: 80vw;
  max-width: 1096px;
  background: #ffffff;
  margin: 0 auto;
  padding: 80px 0 0;
  border-radius: 54px 54px 0 0;
  box-shadow: 0 0 40px rgba(69, 69, 69, 0.15);
  transform: translateY(-10vw);
}

.counseling__form--title {
  color: #0d3c61;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.counseling__form--flow {
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
}

.counseling__form--flow > div {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 104px;
  position: relative;
}

.counseling__form--flow > div:last-child {
  margin: 0;
}

.counseling__form--flow > div:last-child::after {
  display: none;
}

.counseling__form--flow > div::after {
  content: "";
  display: block;
  width: 70%;
  height: 8px;
  border-bottom: dotted 8px #f8f5f7;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 15%;
  right: -100%;
}

.counseling__form--flow > div div:nth-child(1) {
  font-size: 1.2rem;
  color: #3dd8cc;
  font-weight: bold;
}

.counseling__form--flow > div div:nth-child(2) {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: #3dd8cc 5px solid;
  font-size: 2.7rem;
  color: #3dd8cc;
  font-weight: bold;
  margin: 5px 0 12px;
}

.counseling__form--flow > div div:nth-child(3) {
  color: #B2B2B2;
}

.counseling__form--flow .counseling__form--flow--selected::after {
  border-bottom: dotted 8px #3dd8cc;
}

.counseling__form--flow .counseling__form--flow--selected div:nth-child(2) {
  color: #ffffff;
  background: #3dd8cc;
}

.counseling__form--flow .counseling__form--flow--selected div:nth-child(3) {
  color: #888888;
  font-weight: bold;
}
