@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
		 # General elements
		 # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
	* Correct `block` display not defined for any HTML5 element in IE 8/9
	* Correct `block` display not defined for `details` or `summary` in IE 10/11
	* and Firefox
	* Correct `block` display not defined for `main` in IE 11
	*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
		 # Forms
		 # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
		 # Specify media element style
		 # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
		 # Accessibility
		 # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
		 # Selection
		 # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

/* ------------------------------
全体設定ここから
------------------------------ */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #454545;
  font-size: 1.4rem;
  font-family: rustica, zen-kaku-gothic-new, sans-serif;
}

a {
  text-decoration: none;
  color: #454545;
}

a:hover, a:active {
  color: #454545;
}

li {
  list-style-type: none;
}

/* ------------------------------
全体設定ここまで
------------------------------ */
::-moz-selection {
  background: rgba(218, 226, 226, 0.3);
  color: #0d3c61;
}
::selection {
  background: rgba(218, 226, 226, 0.3);
  color: #0d3c61;
}

::-moz-selection {
  background: rgba(218, 226, 226, 0.3);
  color: #0d3c61;
}

/* ------------------------------
footerここから
------------------------------ */
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  background: #1f3736;
  padding: 0 10%;
}

.foot__nav {
  display: flex;
}

.foot__nav--link {
  font-size: 1.6rem;
  margin-right: 40px;
}

.foot__nav--link a {
  color: #ffffff;
  opacity: 1;
  transition: 0.2s opacity;
}

.foot__nav--link a:hover {
  opacity: 0.5;
}

.foot__wrap {
  display: flex;
  align-items: center;
}

.foot__wrap--sns {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.foot__wrap--sns svg {
  width: 100%;
  height: 100%;
}

.foot__wrap--sns path {
  fill: #ffffff;
}

.foot__wrap--copy {
  color: rgba(255, 255, 255, 0.8);
}

/* ------------------------------
footerここまで
------------------------------ */
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@media screen and (min-width: 481px) {
  /* ------------------------------
  グローバルナビここから
  ------------------------------ */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 10%;
    box-shadow: 0 6px 20px rgba(218, 226, 226, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .nav__link {
    display: flex;
  }
  .nav__link li {
    margin-right: 32px;
  }
  .nav__link li a {
    display: flex;
    align-items: center;
    color: #707070;
    height: 100%;
  }
  .nav__link li a img {
    width: 80px;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav__counseling {
    display: flex;
    align-items: center;
    height: 64px;
    color: #fff;
    background: #3dd8cc;
    font-size: 1.8rem;
    padding: 0 40px;
    border-radius: 32px;
    opacity: 1;
    transition: 0.2s opacity;
  }
  .nav__counseling:hover {
    color: #fff;
    opacity: 0.5;
  }
  /* ------------------------------
  グローバルナビここまで
  ------------------------------ */
}

@media screen and (max-width: 480px) {
  /* ------------------------------
  グローバルナビここから
  ------------------------------ */
  .nav {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
  }
  .nav__link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .nav__link li {
    display: flex;
    align-items: center;
  }
  .nav__link li:not(:first-of-type) {
    border-radius: 8px;
    box-shadow: 2px 5px 8px rgba(201, 219, 219, 0.85);
  }
  .nav__link li:not(:first-of-type) a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: bold;
    margin: auto;
    position: relative;
  }
  .nav__link li:not(:first-of-type) a::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 16px;
  }
  .nav__link li:not(:first-of-type) a::after {
    content: "";
    display: block;
    width: 48px;
    height: 2px;
    background: #3dd8cc;
    margin-top: 40px;
    position: absolute;
    top: 0;
  }
  .nav__link li:nth-of-type(2) {
    width: 60%;
    height: 128px;
    margin: 24px 0;
  }
  .nav__link li:nth-of-type(2) a {
    width: 70%;
  }
  .nav__link li:nth-of-type(2) a::before {
    background-image: url("../img/nav_icon_1.png");
  }
  .nav__link li:not(:nth-of-type(2)) {
    width: 44%;
    height: 104px;
  }
  .nav__link li:not(:nth-of-type(2)) a {
    width: 100%;
  }
  .nav__link li:nth-of-type(3) {
    margin-bottom: 16px;
  }
  .nav__link li:nth-of-type(3) a::before {
    background-image: url("../img/nav_icon_2.png");
  }
  .nav__link li:nth-of-type(4) {
    margin-bottom: 16px;
  }
  .nav__link li:nth-of-type(4) a::before {
    background-image: url("../img/nav_icon_3.png");
  }
  .nav__link li:nth-of-type(5) a::before {
    background-image: url("../img/nav_icon_4.png");
  }
  .nav__link li:nth-of-type(6) a::before {
    background-image: url("../img/nav_icon_5.png");
  }
  .nav__link li--icon {
    width: 100%;
  }
  .nav__counseling {
    display: none;
  }
  /* ------------------------------
  グローバルナビここまで
  ------------------------------ */
}

.index__fv {
  display: flex;
  width: 90vw;
  background: url("../img/index_illust.png") no-repeat;
  background-position: bottom 20vh right 5vw;
  margin: 0 auto;
}

.index__fv--logo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.index__fv--logo h1 {
  width: 90%;
}

.index__fv--logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #3dd8cc;
  font-weight: bold;
  border-radius: 28px;
  padding: 0 24px;
}

.index__rcm {
  margin: 88px auto 0;
}

.index__rcm > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.index__rcm--title img {
  width: 100%;
}

.index__rcm--text {
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.index__rcm--text span {
  background: linear-gradient(0deg, #3dd8cc 0, #3dd8cc 30%, transparent 30%, transparent 100%);
}

.index__rcm--flow {
  width: 30%;
  min-width: 288px;
}

.index__rcm--flow--num {
  color: #3dd8cc;
  font-size: 6rem;
  font-weight: bold;
}

.index__rcm--flow--img {
  width: 80%;
  height: 200px;
  margin: 0 auto;
}

.index__rcm--flow--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.index__rcm--flow--text {
  background: #f8f5f7;
  padding: 32px 24px;
  border-radius: 24px;
  transform: translateY(-24px);
  position: relative;
  z-index: -1;
}

.index__rcm--flow--text h3 {
  text-align: center;
  margin-bottom: 16px;
}

.index__rcm--flow--text p {
  line-height: 24px;
}

.index__woman {
  margin: 0 auto;
}

.index__woman > div {
  display: flex;
}

.index__woman--title img, .index__woman--img img {
  width: 100%;
}

.index__woman--text {
  height: auto;
  background: #f8f5f7;
  padding: 32px 24px;
  border-radius: 24px;
}

.index__marketing--title {
  text-align: center;
  margin-bottom: 24px;
}

.index__marketing--title--accent {
  color: #3dd8cc;
}

.index__marketing--title span:last-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index__marketing--title span:last-child::after {
  content: "19";
  color: #3dd8cc;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.index__marketing--description {
  text-align: center;
}

.index__marketing--flow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
  background: #f8f5f7;
}

.index__marketing--flow--img img {
  width: 100%;
}

.index__marketing--flow--title {
  display: inline-block;
  background: linear-gradient(0deg, #3dd8cc 0, #3dd8cc 30%, transparent 30%, transparent 100%);
  position: relative;
}

.index__marketing--flow--title::before {
  content: "00";
  color: #3dd8cc;
  font-size: 2.8rem;
  position: absolute;
  top: 0;
  left: -50px;
  bottom: 0;
  margin: auto;
}

.index__marketing--flow--point > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  font-weight: bold;
  margin-bottom: 24px;
  border-radius: 30px;
  box-shadow: 3px 4px 0 rgba(48, 167, 158, 0.9);
}

.index__marketing--flow--point > div:last-of-type {
  margin: 0;
}

.index__marketing--flow:nth-child(even) {
  background: #ffffff;
}

.index__course {
  margin: 0 auto;
}

.index__course--title {
  font-size: 3.5rem;
  text-align: center;
  margin: 80px 0 24px;
}

.index__course--description {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 64px;
}

.index__course > div {
  display: flex;
  justify-content: space-around;
}

.index__course--wrap > div {
  background: #f8f5f7;
  padding: 30px 20px;
}

.index__course--wrap--title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
}

.index__course--wrap dl {
  text-align: center;
  margin-top: 15px;
}

.index__course--wrap dl dt {
  margin-bottom: 10px;
}

.index__course--wrap:nth-child(3n + 1) .index__course--wrap--title {
  background: #3dd8cc;
}

.index__course--wrap:nth-child(3n + 1) .index__course--wrap--rcm span {
  color: #3dd8cc;
}

.index__course--wrap:nth-child(3n + 1) .index__course--wrap--rcm .index__course--wrap--period {
  color: #3dd8cc;
}

.index__course--wrap:nth-child(3n + 2) .index__course--wrap--title {
  background: #3d87d8;
}

.index__course--wrap:nth-child(3n + 2) .index__course--wrap--rcm span {
  color: #3d87d8;
}

.index__course--wrap:nth-child(3n + 2) .index__course--wrap--rcm .index__course--wrap--period {
  color: #3d87d8;
}

.index__course--wrap:nth-child(3n) .index__course--wrap--title {
  background: #503dd8;
}

.index__course--wrap:nth-child(3n) .index__course--wrap--rcm span {
  color: #503dd8;
}

.index__course--wrap:nth-child(3n) .index__course--wrap--rcm .index__course--wrap--period {
  color: #503dd8;
}

.index__course--wrap--img {
  width: 100%;
  height: 200px;
  margin: 30px 0;
}

.index__course--wrap--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.index__course--wrap--rcm {
  font-size: 1.6rem;
  text-align: center;
}

.index__course--wrap--rcm span {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0 5px;
}

.index__course--wrap--rcm .index__course--wrap--period {
  font-size: 7rem;
  font-weight: bold;
  margin: 0 5px;
  line-height: 8rem;
}

.index__style {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto 64px;
}

.index__style--title {
  font-size: 3.5rem;
  text-align: center;
  margin: 80px 0 24px;
}

.index__style--description {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 64px;
}

.index__style > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.index__style--wrap {
  width: 40%;
}

.index__style--wrap--figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  transition: 0.2s box-shadow;
  box-shadow: 0 4px 10px rgba(218, 226, 226, 0.9);
  position: relative;
}

.index__style--wrap--figure:hover {
  box-shadow: 0 0 0 transparent;
  cursor: pointer;
}

.index__style--wrap--figure div {
  width: 100%;
  height: 60%;
  margin-top: 40px;
}

.index__style--wrap--figure div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.index__style--wrap--en {
  color: rgba(61, 135, 216, 0.25);
  font-size: 5.5rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}

.index__style--wrap--title {
  color: #3dd8cc;
  font-size: 3rem;
  margin: 20px auto 30px;
  text-align: center;
}

.index__user {
  background: #e7faf9;
  padding: 80px 0;
}

.index__user--title {
  font-size: 3.5rem;
  text-align: center;
  margin: 0 0 20px;
}

.index__user--description {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 64px;
}

.index__user--wrap {
  width: 80vw;
  max-width: 1200px;
  background: #ffffff;
  margin: 0 auto 24px;
  padding: 48px;
  border-radius: 16px;
}

.index__user--wrap:nth-child(2n + 1) .index__user--wrap--course {
  background: #3dd8cc;
}

.index__user--wrap:nth-child(2n) .index__user--wrap--course {
  background: #3d87d8;
}

.index__user--wrap--course {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 24px;
  padding: 0 24px;
  border-radius: 20px;
}

.index__user--wrap--course + div {
  display: flex;
  width: 100%;
}

.index__user--wrap--icon {
  width: 125px;
  height: 125px;
  margin-right: 24px;
}

.index__user--wrap--icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.index__user--wrap--icon + div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
}

.index__user--wrap--headline {
  font-size: 2.2rem;
}

.index__user--wrap--text {
  font-size: 1.6rem;
}

.index__user--btn {
  display: block;
  width: 200px;
  color: #3dd8cc;
  background: #ffffff;
  font-size: 2.2rem;
  padding: 8px 0;
  border: #3dd8cc 1px solid;
  border-radius: 40px;
  margin: 40px auto 0;
  text-align: center;
  transition: 0.2s color, 0.2s background;
}

.index__user--btn:hover {
  color: #ffffff;
  background: #3dd8cc;
}

.index__faq {
  width: 75vw;
  max-width: 1000px;
  margin: 88px auto 0;
}

.index__faq--title {
  font-size: 3.5rem;
  text-align: center;
  margin: 0 auto 60px;
}

.index__faq--wrap {
  margin-bottom: 32px;
  padding: 24px 56px;
  border-radius: 40px;
  box-shadow: 0 0 26px rgba(218, 226, 226, 0.9);
}

.index__faq--wrap > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index__faq--wrap--q {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.index__faq--wrap--q::before {
  content: "Q";
  display: block;
  width: 56px;
  color: #3dd8cc;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
  opacity: 1;
  margin-right: 24px;
  text-align: center;
}

.index__faq--wrap--a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 24px;
}

.index__faq--wrap--a::before {
  content: "A";
  display: block;
  width: 56px;
  color: #3dd8cc;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  opacity: 0.5;
  margin-right: 24px;
  text-align: center;
}

.index__faq--wrap--mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index__faq--wrap--mark::before, .index__faq--wrap--mark::after {
  content: "";
  width: 24px;
  height: 6px;
  background: #3dd8cc;
  position: absolute;
}

.index__faq--wrap--mark::after {
  transform: rotateZ(90deg);
}

.index__counseling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  background: #3dd8cc;
  margin-top: 120px;
}

.index__counseling--txt {
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: bold;
}

.index__counseling--link {
  display: flex;
  align-items: center;
  height: 64px;
  color: #3dd8cc;
  background: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 32px;
  padding: 0 48px;
  border-radius: 32px;
  transform: translateY(0);
  box-shadow: 0 8px 8px #26bcb1;
  transition: 0.2s transform, 0.2s box-shadow;
}

.index__counseling--link:hover {
  color: #3dd8cc;
  transform: translateY(4px);
  box-shadow: 0 0 0 transparent;
}

.index__modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(31, 55, 54, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s opacity;
  z-index: 20;
}

.index__modal > div {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  width: 70vw;
  max-width: 1200px;
  height: 80vh;
  background: #ffffff;
  border-radius: 20px;
  margin: auto;
  padding: 5%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.index__modal--head {
  display: inline-block;
  position: relative;
}

.index__modal--head--title {
  display: inline-block;
  color: #3dd8cc;
  font-size: 4rem;
  font-weight: bold;
}

.index__modal--head--en {
  color: rgba(61, 135, 216, 0.25);
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  bottom: -16px;
  right: -32px;
}

.index__modal--wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.index__modal--wrap--img {
  width: 35%;
  height: inherit;
}

.index__modal--wrap--img img {
  width: 100%;
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}

.index__modal--wrap--img + div {
  width: 55%;
  overflow: scroll;
}

.index__modal--wrap--headline {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.index__modal--wrap--text {
  font-weight: bold;
  line-height: 4rem;
}

.index__modal--back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: rgba(31, 55, 54, 0.8) 3px solid;
  position: absolute;
  top: 24px;
  right: 24px;
  opacity: 1;
  transition: 0.2s opacity;
}

.index__modal--back:hover {
  opacity: 0.5;
  cursor: pointer;
}

.index__modal--back::before, .index__modal--back::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: rgba(31, 55, 54, 0.8);
  position: absolute;
}

.index__modal--back::before {
  transform: rotateZ(45deg);
}

.index__modal--back::after {
  transform: rotateZ(-45deg);
}

.index__modal--arrow {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 24px * 2);
  height: 32px;
  position: absolute;
  right: 0;
  bottom: 24px;
  left: 0;
  margin: auto;
}

.index__modal--arrow--prev, .index__modal--arrow--next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  opacity: 1;
  transition: 0.2s opacity;
}

.index__modal--arrow--prev:hover, .index__modal--arrow--next:hover {
  opacity: 0.5;
  cursor: pointer;
}

.index__modal--arrow--prev::before {
  content: "";
  display: block;
  width: 16px;
  height: 4px;
  background: #3dd8cc;
  border-radius: 2px;
  margin-top: 11px;
  position: absolute;
  transform: rotateZ(45deg);
}

.index__modal--arrow--prev::after {
  content: "";
  display: block;
  width: 16px;
  height: 4px;
  background: #3dd8cc;
  border-radius: 2px;
  margin-top: -7px;
  position: absolute;
  transform: rotateZ(-45deg);
}

.index__modal--arrow--next::before {
  content: "";
  display: block;
  width: 16px;
  height: 4px;
  background: #3dd8cc;
  border-radius: 2px;
  margin-top: 11px;
  position: absolute;
  transform: rotateZ(-45deg);
}

.index__modal--arrow--next::after {
  content: "";
  display: block;
  width: 16px;
  height: 4px;
  background: #3dd8cc;
  border-radius: 2px;
  margin-top: -7px;
  position: absolute;
  transform: rotateZ(45deg);
}

.index #modalDisplay {
  display: block;
  opacity: 1;
  -webkit-animation: 0.2s fadeIn;
          animation: 0.2s fadeIn;
}

@media screen and (min-width: 481px) {
  .index__fv {
    justify-content: flex-start;
    max-width: 1200px;
    height: 90vh;
    max-height: 700px;
    background-size: 60% auto;
    margin: 80px auto 0;
  }
  .index__fv--logo {
    width: 40%;
  }
  .index__fv--logo a {
    width: auto;
    height: 56px;
    font-size: 2.2rem;
  }
  .index__rcm {
    width: 80vw;
    max-width: 1200px;
  }
  .index__rcm--title {
    width: 80%;
    margin: 0 auto 54px;
  }
  .index__rcm--text {
    font-size: 3rem;
  }
  .index__woman {
    width: 80vw;
    max-width: 1200px;
  }
  .index__woman--title {
    width: 80%;
    margin: 88px auto 64px;
  }
  .index__woman > div {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .index__woman--img {
    width: 40%;
  }
  .index__woman--text {
    width: 50%;
    min-height: 200px;
  }
  .index__marketing {
    margin-top: 100px;
  }
  .index__marketing--title {
    font-size: 3rem;
  }
  .index__marketing--title--accent {
    font-size: 7rem;
  }
  .index__marketing--title span:last-child {
    font-size: 5rem;
    padding: 0 10px;
  }
  .index__marketing--title span:last-child::after {
    font-size: 7rem;
  }
  .index__marketing--description {
    font-size: 2rem;
    line-height: 5rem;
    margin-bottom: 72px;
  }
  .index__marketing--flow {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10%;
    padding: 100px 15%;
  }
  .index__marketing--flow--title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .index__marketing--flow--description {
    font-size: 1.8rem;
    line-height: 3.5rem;
    margin-top: 30px;
  }
  .index__marketing--flow--point > div {
    height: 54px;
    font-size: 1.8rem;
  }
  .index__marketing--flow--img {
    width: 400px;
  }
  .index__marketing--flow:nth-child(odd) {
    grid-template-columns: 60% 30%;
  }
  .index__marketing--flow:nth-child(odd) > div:first-of-type {
    grid-column: 1;
    grid-row: 1;
  }
  .index__marketing--flow:nth-child(odd) .index__marketing--flow--point {
    grid-column: 1;
    grid-row: 2;
  }
  .index__marketing--flow:nth-child(odd) .index__marketing--flow--img {
    grid-column: 2;
    grid-row: 1/3;
  }
  .index__marketing--flow:nth-child(even) {
    grid-template-columns: 30% 60%;
  }
  .index__marketing--flow:nth-child(even) > div:first-of-type {
    grid-column: 2;
    grid-row: 1;
  }
  .index__marketing--flow:nth-child(even) .index__marketing--flow--point {
    grid-column: 2;
    grid-row: 2;
  }
  .index__marketing--flow:nth-child(even) .index__marketing--flow--img {
    grid-column: 1;
    grid-row: 1/3;
  }
  .index__course {
    width: 85vw;
    max-width: 1200px;
  }
  .index__course > div {
    flex-wrap: wrap;
  }
  .index__course--wrap {
    width: 30%;
    min-width: 300px;
  }
  .index__course--wrap--title {
    height: 65px;
    font-size: 2.5rem;
  }
  .index__course--wrap--description {
    font-size: 1.8rem;
  }
  .index__course--wrap dl dt {
    font-size: 1.8rem;
  }
  .index__course--wrap--contents {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .index__fv {
    min-height: 60vh;
    flex-direction: column;
    background-size: contain;
    background-position: bottom 80px center;
  }
  .index__fv--logo {
    width: 100%;
    padding: 104px 16px 0;
  }
  .index__fv--logo h1 {
    width: 80%;
  }
  .index__fv--logo a {
    width: 200px;
    height: 36px;
    font-size: 1.2rem;
    margin: 200px auto 0;
  }
  .index__rcm {
    width: 90vw;
  }
  .index__rcm--title {
    margin: 0 auto 24px;
  }
  .index__rcm--text {
    font-size: 1.6rem;
  }
  .index__woman {
    width: 90vw;
    margin-top: 56px;
  }
  .index__woman > div {
    align-items: center;
    flex-direction: column;
  }
  .index__woman--title {
    margin: 0 auto 40px;
  }
  .index__woman--img {
    width: 80%;
  }
  .index__woman--text {
    width: 75%;
    font-size: 1rem;
    margin-top: 24px;
  }
  .index__marketing {
    margin-top: 64px;
  }
  .index__marketing--title {
    font-size: 1.6rem;
  }
  .index__marketing--title--accent {
    font-size: 5rem;
  }
  .index__marketing--title span:last-child {
    font-size: 2.4rem;
  }
  .index__marketing--title span:last-child::after {
    font-size: 5rem;
  }
  .index__marketing--description {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 48px;
  }
  .index__marketing--flow {
    display: flex;
    flex-direction: column;
    padding: 48px 20%;
  }
  .index__marketing--flow > div:first-of-type {
    order: 1;
  }
  .index__marketing--flow--title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .index__marketing--flow--description {
    width: 60vw;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 16px;
  }
  .index__marketing--flow--point {
    order: 3;
  }
  .index__marketing--flow--point > div {
    height: 32px;
    font-size: 1.2rem;
  }
  .index__marketing--flow--img {
    margin: 24px 0;
    order: 2;
  }
  .index__course {
    width: 90vw;
  }
  .index__course--wrap > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 16px 0;
    position: relative;
  }
  .index__course--wrap--title {
    height: 40px;
    font-size: 1.6rem;
  }
  .index__course--wrap--description {
    font-size: 1.4rem;
  }
  .index__course--wrap--img {
    position: absolute;
  }
  .index__course--wrap--rcm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(248, 245, 247, 0.7);
    position: relative;
    z-index: 3;
  }
  .index__course--wrap dl dt {
    font-size: 1.3rem;
  }
  .index__course--wrap--contents {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
