/* ------------------------------
全体設定ここから
------------------------------ */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  // font-family: sans-serif;
  color: $black;
  font-size: 1.4rem;
  font-family: rustica, zen-kaku-gothic-new, sans-serif;
  // font-weight: 400;
}
a {
  text-decoration: none;
  color: $black;
  &:hover,
  &:active {
    color: $black;
  }
}
li {
  list-style-type: none;
}
/* ------------------------------
全体設定ここまで
------------------------------ */

::selection {
  background: rgba($color: $pailGreen, $alpha: 0.3);
  color: $darkBlue;
}
::-moz-selection {
  //firefox
  background: rgba($color: $pailGreen, $alpha: 0.3);
  color: $darkBlue;
}
/* ------------------------------
footerここから
------------------------------ */
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  background: $darkGreen;
  padding: 0 10%;
  &__nav {
    display: flex;
    &--link {
      font-size: 1.6rem;
      margin-right: 40px;
      a {
        color: $white;
        opacity: 1;
        transition: 0.2s opacity;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  &__wrap {
    display: flex;
    align-items: center;
    &--sns {
      display: block;
      width: 32px;
      height: 32px;
      margin-right: 16px;
      svg {
        width: 100%;
        height: 100%;
      }
      path {
        fill: $white;
      }
    }
    &--copy {
      color: rgba($color: $white, $alpha: 0.8);
    }
  }
}
/* ------------------------------
footerここまで
------------------------------ */

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@media screen and (min-width: 481px) {
  /* ------------------------------
  グローバルナビここから
  ------------------------------ */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background: rgba($color: $white, $alpha: 0.9);
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 10%;
    box-shadow: 0 6px 20px rgba($color: $pailGreen, $alpha: 0.85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    &__link {
      display: flex;
      li {
        margin-right: 32px;
        a {
          display: flex;
          align-items: center;
          color: #707070;
          opacity: 1;
          height: 100%;
          transition: 0.2s opacity;
          img {
            width: 80px;
            height: 100%;
            object-fit: contain;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    &__counseling {
      display: flex;
      align-items: center;
      height: 64px;
      color: #fff;
      background: $green;
      font-size: 1.8rem;
      padding: 0 40px;
      border-radius: 32px;
      opacity: 1;
      transition: 0.2s opacity;
      &:hover {
        color: #fff;
        opacity: 0.5;
      }
    }
    &__btn {
      display: none;
    }
  }
  /* ------------------------------
  グローバルナビここまで
  ------------------------------ */
}
@media screen and (max-width: 480px) {
  /* ------------------------------
  グローバルナビここから
  ------------------------------ */
  .nav {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #fff;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    &__link {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
      li {
        display: flex;
        align-items: center;
        &:not(:first-of-type) {
          border-radius: 8px;
          box-shadow: 2px 5px 8px rgba($color: #c9dbdb, $alpha: 0.85);
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 1.6rem;
            font-weight: bold;
            margin: auto;
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 32px;
              height: 32px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              margin-bottom: 16px;
            }
            &::after {
              content: "";
              display: block;
              width: 48px;
              height: 2px;
              background: $green;
              margin-top: 40px;
              position: absolute;
              top: 0;
            }
          }
        }
        &:nth-of-type(2) {
          width: 60%;
          height: 128px;
          margin: 24px 0;
          a {
            width: 70%;
            &::before {
              background-image: url("../img/nav_icon_1.png");
            }
          }
        }
        &:not(:nth-of-type(2)) {
          width: 44%;
          height: 104px;
          a {
            width: 100%;
            // height: 100%;
          }
        }
        &:nth-of-type(3) {
          margin-bottom: 16px;
          a {
            &::before {
              background-image: url("../img/nav_icon_2.png");
            }
          }
        }
        &:nth-of-type(4) {
          margin-bottom: 16px;
          a {
            &::before {
              background-image: url("../img/nav_icon_3.png");
            }
          }
        }
        &:nth-of-type(5) {
          a {
            &::before {
              background-image: url("../img/nav_icon_4.png");
            }
          }
        }
        &:nth-of-type(6) {
          a {
            &::before {
              background-image: url("../img/nav_icon_5.png");
            }
          }
        }
        &--icon {
          width: 100%;
        }
      }
    }
    &__counseling {
      display: none;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      background: $green;
      border: 4px solid #fff;
      border-radius: 32px;
      box-shadow: 0 4px 8px rgba($color: $green, $alpha: 0.3);
      margin: auto;
      position: fixed;
      right: 0;
      bottom: 24px;
      left: 0;
      z-index: 15;
      &--bdr,
      &--bdr::before,
      &--bdr::after {
        display: block;
        width: 32px;
        height: 4px;
        background: #fff;
        border-radius: 2px;
      }
      &--bdr {
        &::before,
        &::after {
          content: "";
          position: absolute;
        }
        &::before {
          bottom: 16px;
        }
        &::after {
          top: 16px;
        }
      }
    }
    &__fixedCounseling {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 280px;
      color: #fff;
      background: linear-gradient(180deg, #3dd8cc 0%, #3d87d8 70%, #503dd8 100%)
        no-repeat;
      border: 4px solid #fff;
      border-radius: 16px 0 0 16px;
      font-size: 1.4rem;
      font-weight: bold;
      position: fixed;
      top: 20vh;
      right: 0;
      writing-mode: vertical-rl;
      z-index: 5;
    }
  }
  /* ------------------------------
  グローバルナビここまで
  ------------------------------ */
  .foot {
    flex-direction: column;
    height: auto;
    padding: 5%;
    &__nav {
      &--link {
        width: max-content;
        a {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 1.2rem;
          margin: 0 auto;
        }
      }
    }
  }
  #navActive {
    display: flex;
    opacity: 1;
    animation: navFadeInAnimation 0.2s;
  }
  #navDisActive {
    display: none;
    opacity: 0;
    animation: navFadeOutAnimation 0.2s;
  }
  @keyframes navFadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes navFadeOutAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
