$mainGreen: #3dd8cc;
$mainBlue: #3d87d8;
$mainPurple: #503dd8;
$black: #454545;
$gray: #f8f5f7;
$white: #ffffff;

@mixin titleSet(){
	&--ttl {
		font-size: 3.5rem;
		text-align: center;
		margin: 80px 0 20px;
	}
	&--description {
		font-size: 2rem;
		text-align: center;
		margin-bottom: 60px;
	}
}