@import "ress";
@import "var";
@import "common";

.index {
  &__fv {
    display: flex;
    width: 90vw;
    background: url("../img/index_illust.png") no-repeat;
    background-position: bottom 20vh right 5vw;
    margin: 0 auto;
    &--logo {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      h1 {
        width: 90%;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        background: $green;
        font-weight: bold;
        border-radius: 28px;
        padding: 0 24px;
      }
    }
  }
  &__rcm {
    margin: 88px auto 0;
    > div {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &--title {
      img {
        width: 100%;
      }
    }
    &--text {
      font-weight: bold;
      text-align: center;
      margin-bottom: 60px;
      span {
        background: linear-gradient(
          0deg,
          $green 0,
          $green 30%,
          transparent 30%,
          transparent 100%
        );
      }
    }
    &--flow {
      &--num {
        color: $green;
        font-size: 6rem;
        font-weight: bold;
      }
      width: 30%;
      min-width: 288px;
      &--img {
        width: 80%;
        height: 200px;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &--text {
        background: $gray;
        padding: 32px 24px;
        border-radius: 24px;
        transform: translateY(-24px);
        position: relative;
        z-index: -1;
        h3 {
          text-align: center;
          margin-bottom: 16px;
        }
        p {
          line-height: 24px;
        }
      }
    }
  }
  &__woman {
    margin: 0 auto;
    > div {
      display: flex;
    }
    &--title,
    &--img {
      img {
        width: 100%;
      }
    }
    &--text {
      height: auto;
      background: $gray;
      padding: 32px 24px;
      border-radius: 24px;
    }
  }
  &__marketing {
    &--title {
      text-align: center;
      margin-bottom: 24px;
      &--accent {
        color: $green;
      }
      span:last-child {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
          content: "19";
          color: $green;
          opacity: 0.5;
          position: absolute;
          z-index: -1;
        }
      }
    }
    &--description {
      text-align: center;
    }
    &--flow {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      min-height: 80vh;
      background: $gray;
      &--img {
        img {
          width: 100%;
        }
      }
      &--title {
        display: inline-block;
        background: linear-gradient(
          0deg,
          $green 0,
          $green 30%,
          transparent 30%,
          transparent 100%
        );
        position: relative;
        &::before {
          content: "00";
          color: $green;
          font-size: 2.8rem;
          position: absolute;
          top: 0;
          left: -50px;
          bottom: 0;
          margin: auto;
        }
      }
      &--point {
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background: #fff;
          font-weight: bold;
          margin-bottom: 24px;
          border-radius: 30px;
          box-shadow: 3px 4px 0 rgba($color: #30a79e, $alpha: 0.9);
          &:last-of-type {
            margin: 0;
          }
        }
      }
      &:nth-child(even) {
        background: $white;
      }
    }
  }
  &__course {
    margin: 0 auto;
    @include titleSet();
    > div {
      display: flex;
      justify-content: space-around;
    }
    &--wrap {
      > div {
        background: $gray;
        padding: 30px 20px;
      }
      &--title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: $white;
      }
      dl {
        text-align: center;
        margin-top: 15px;
        dt {
          margin-bottom: 10px;
        }
      }
      &:nth-child(3n + 1) {
        .index__course--wrap--title {
          background: $green;
        }
        .index__course--wrap--rcm {
          span {
            color: $green;
          }
          .index__course--wrap--period {
            color: $green;
          }
        }
      }
      &:nth-child(3n + 2) {
        .index__course--wrap--title {
          background: $blue;
        }
        .index__course--wrap--rcm {
          span {
            color: $blue;
          }
          .index__course--wrap--period {
            color: $blue;
          }
        }
      }
      &:nth-child(3n) {
        .index__course--wrap--title {
          background: $purple;
        }
        .index__course--wrap--rcm {
          span {
            color: $purple;
          }
          .index__course--wrap--period {
            color: $purple;
          }
        }
      }
      &--img {
        width: 100%;
        height: 200px;
        margin: 30px 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &--rcm {
        font-size: 1.6rem;
        text-align: center;
        span {
          font-size: 2.4rem;
          font-weight: bold;
          margin: 0 5px;
        }
        .index__course--wrap--period {
          font-size: 7rem;
          font-weight: bold;
          margin: 0 5px;
          line-height: 8rem;
        }
      }
    }
  }
  &__style {
    width: 80vw;
    max-width: 1200px;
    margin: 0 auto 64px;
    @include titleSet();
    > div {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &--wrap {
      width: 40%;
      &--figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        border-radius: 20px;
        transition: 0.2s box-shadow;
        box-shadow: 0 4px 10px rgba($color: $pailGreen, $alpha: 0.9);
        position: relative;
        &:hover {
          box-shadow: 0 0 0 transparent;
          cursor: pointer;
        }
        div {
          width: 100%;
          height: 60%;
          margin-top: 40px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      &--en {
        color: rgba($color: $blue, $alpha: 0.25);
        font-size: 5.5rem;
        font-weight: bold;
        position: absolute;
        top: 10px;
        left: 10px;
      }
      &--title {
        color: $green;
        font-size: 3rem;
        margin: 20px auto 30px;
        text-align: center;
      }
    }
  }
  &__user {
    background: lighten($color: $green, $amount: 40%);
    padding: 80px 0;
    @include titleSet(0 0 20px);
    &--wrap {
      width: 80vw;
      max-width: 1200px;
      background: $white;
      margin: 0 auto 24px;
      padding: 48px;
      border-radius: 16px;
      // box-shadow: 2px 5px 12px rgba($color: $pailGreen, $alpha: 0.85);
      &:nth-child(2n + 1) {
        .index__user--wrap--course {
          background: $green;
        }
      }
      &:nth-child(2n) {
        .index__user--wrap--course {
          background: $blue;
        }
      }
      &--course {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 24px;
        padding: 0 24px;
        border-radius: 20px;
        & + div {
          display: flex;
          width: 100%;
        }
      }
      &--icon {
        width: 125px;
        height: 125px;
        margin-right: 24px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        & + div {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          width: 80%;
        }
      }
      &--headline {
        font-size: 2.2rem;
      }
      &--text {
        font-size: 1.6rem;
      }
    }
    &--btn {
      display: block;
      width: 200px;
      color: $green;
      background: $white;
      font-size: 2.2rem;
      padding: 8px 0;
      border: $green 1px solid;
      border-radius: 40px;
      margin: 40px auto 0;
      text-align: center;
      transition: 0.2s color, 0.2s background;
      &:hover {
        color: $white;
        background: $green;
      }
    }
  }
  &__faq {
    width: 75vw;
    max-width: 1000px;
    margin: 88px auto 0;
    &--title {
      font-size: 3.5rem;
      text-align: center;
      margin: 0 auto 60px;
    }
    &--wrap {
      margin-bottom: 32px;
      padding: 24px 56px;
      border-radius: 40px;
      box-shadow: 0 0 26px rgba($color: $pailGreen, $alpha: 0.9);
      > div:first-of-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &--q {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-weight: bold;
        &::before {
          content: "Q";
          @include faqSet;
        }
      }
      &--a {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        margin-top: 24px;
        &::before {
          content: "A";
          @include faqSet($fs: 2.5rem, $o: 0.5);
        }
      }
      &--mark {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before,
        &::after {
          content: "";
          width: 24px;
          height: 6px;
          background: $green;
          position: absolute;
        }
        &::after {
          transform: rotateZ(90deg);
        }
      }
    }
  }
  &__counseling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
    background: $green;
    margin-top: 120px;
    &--txt {
      color: $white;
      font-size: 3.2rem;
      font-weight: bold;
    }
    &--link {
      display: flex;
      align-items: center;
      height: 64px;
      color: $green;
      background: $white;
      font-size: 2.4rem;
      font-weight: bold;
      margin-top: 32px;
      padding: 0 48px;
      border-radius: 32px;
      transform: translateY(0);
      box-shadow: 0 8px 8px darken($color: $green, $amount: 10%);
      transition: 0.2s transform, 0.2s box-shadow;
      &:hover {
        color: $green;
        transform: translateY(4px);
        box-shadow: 0 0 0 transparent;
      }
    }
  }
  &__modal {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba($color: $darkGreen, $alpha: 0.9);
    position: absolute;
    // position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s opacity;
    z-index: 20;
    > div {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      width: 70vw;
      max-width: 1200px;
      height: 80vh;
      background: $white;
      border-radius: 20px;
      margin: auto;
      padding: 5%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &--head {
      display: inline-block;
      position: relative;
      &--title {
        display: inline-block;
        color: $green;
        font-size: 4rem;
        font-weight: bold;
      }
      &--en {
        color: rgba($color: $blue, $alpha: 0.25);
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
        bottom: -16px;
        right: -32px;
      }
    }
    &--wrap {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      &--img {
        width: 35%;
        height: inherit;
        img {
          width: 100%;
          height: inherit;
          object-fit: contain;
        }
        & + div {
          width: 55%;
          overflow: scroll;
        }
      }
      &--headline {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
      }
      &--text {
        font-weight: bold;
        line-height: 4rem;
      }
    }
    &--back {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: rgba($color: $darkGreen, $alpha: 0.8) 3px solid;
      position: absolute;
      top: 24px;
      right: 24px;
      opacity: 1;
      transition: 0.2s opacity;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      &::before,
      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 3px;
        background: rgba($color: $darkGreen, $alpha: 0.8);
        position: absolute;
      }
      &::before {
        transform: rotateZ(45deg);
      }
      &::after {
        transform: rotateZ(-45deg);
      }
    }
    &--arrow {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 24px * 2);
      height: 32px;
      position: absolute;
      right: 0;
      bottom: 24px;
      left: 0;
      margin: auto;
      &--prev,
      &--next {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        opacity: 1;
        transition: 0.2s opacity;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
      &--prev {
        &::before {
          @include modalAllowSet($t: 11px);
        }
      }
      &--prev {
        &::after {
          @include modalAllowSet($t: -7px, $rotate: rotateZ(-45deg));
        }
      }
      &--next {
        &::before {
          @include modalAllowSet($rotate: rotateZ(-45deg));
        }
      }
      &--next {
        &::after {
          @include modalAllowSet($t: -7px);
        }
      }
    }
  }
  #modalDisplay {
    display: block;
    opacity: 1;
    animation: 0.2s fadeIn;
  }
}

@media screen and (min-width: 481px) {
  .index {
    &__fv {
      justify-content: flex-start;
      max-width: 1200px;
      height: 90vh;
      max-height: 700px;
      background-size: 60% auto;
      margin: 80px auto 0;
      &--logo {
        width: 40%;
        a {
          width: auto;
          height: 56px;
          font-size: 2.2rem;
        }
      }
    }
    &__rcm {
      width: 80vw;
      max-width: 1200px;
      &--title {
        width: 80%;
        margin: 0 auto 54px;
      }
      &--text {
        font-size: 3rem;
      }
    }
    &__woman {
      width: 80vw;
      max-width: 1200px;
      &--title {
        width: 80%;
        margin: 88px auto 64px;
      }
      > div {
        justify-content: space-around;
        flex-wrap: wrap;
      }
      &--img {
        width: 40%;
      }
      &--text {
        width: 50%;
        min-height: 200px;
      }
    }
    &__marketing {
      margin-top: 100px;
      &--title {
        font-size: 3rem;
        &--accent {
          font-size: 7rem;
        }
        span:last-child {
          font-size: 5rem;
          padding: 0 10px;
          &::after {
            font-size: 7rem;
          }
        }
      }
      &--description {
        font-size: 2rem;
        line-height: 5rem;
        margin-bottom: 72px;
      }
      &--flow {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 10%;
        padding: 100px 15%;
        &--title {
          font-size: 4rem;
          line-height: 4rem;
        }
        &--description {
          font-size: 1.8rem;
          line-height: 3.5rem;
          margin-top: 30px;
        }
        &--point {
          & > div {
            height: 54px;
            font-size: 1.8rem;
          }
        }
        &--img {
          width: 400px;
        }
        &:nth-child(odd) {
          grid-template-columns: 60% 30%;
          > div:first-of-type {
            grid-column: 1;
            grid-row: 1;
          }
          .index__marketing--flow--point {
            grid-column: 1;
            grid-row: 2;
          }
          .index__marketing--flow--img {
            grid-column: 2;
            grid-row: 1/3;
          }
        }
        &:nth-child(even) {
          grid-template-columns: 30% 60%;
          > div {
            &:first-of-type {
              grid-column: 2;
              grid-row: 1;
            }
          }
          .index__marketing--flow--point {
            grid-column: 2;
            grid-row: 2;
          }
          .index__marketing--flow--img {
            grid-column: 1;
            grid-row: 1/3;
          }
        }
      }
    }
    &__course {
      width: 85vw;
      max-width: 1200px;
      > div {
        flex-wrap: wrap;
      }
      &--wrap {
        width: 30%;
        min-width: 300px;
        &--title {
          height: 65px;
          font-size: 2.5rem;
        }
        &--description {
          font-size: 1.8rem;
        }
        dl {
          dt {
            font-size: 1.8rem;
          }
        }
        &--contents {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .index {
    &__fv {
      min-height: 60vh;
      flex-direction: column;
      background-size: contain;
      background-position: bottom 80px center;
      &--logo {
        width: 100%;
        padding: 104px 16px 0;
        h1 {
          width: 80%;
        }
        a {
          width: 200px;
          height: 36px;
          font-size: 1.2rem;
          margin: 200px auto 0;
        }
      }
    }
    &__rcm {
      width: 90vw;
      &--title {
        margin: 0 auto 24px;
      }
      &--text {
        font-size: 1.6rem;
      }
    }
    &__woman {
      width: 90vw;
      margin-top: 56px;
      > div {
        align-items: center;
        flex-direction: column;
      }
      &--title {
        margin: 0 auto 40px;
      }
      &--img {
        width: 80%;
      }
      &--text {
        width: 75%;
        font-size: 1rem;
        margin-top: 24px;
      }
    }
    &__marketing {
      margin-top: 64px;
      &--title {
        font-size: 1.6rem;
        &--accent {
          font-size: 5rem;
        }
        span:last-child {
          font-size: 2.4rem;
          &::after {
            font-size: 5rem;
          }
        }
      }
      &--description {
        font-size: 1.1rem;
        line-height: 2rem;
        margin-bottom: 48px;
      }
      &--flow {
        display: flex;
        flex-direction: column;
        padding: 48px 20%;
        > div:first-of-type {
          order: 1;
        }
        &--title {
          font-size: 2rem;
          line-height: 2rem;
        }
        &--description {
          width: 60vw;
          font-size: 1.1rem;
          line-height: 2rem;
          margin-top: 16px;
        }
        &--point {
          order: 3;
          & > div {
            height: 32px;
            font-size: 1.2rem;
          }
        }
        &--img {
          margin: 24px 0;
          order: 2;
        }
      }
    }
    &__course {
      width: 90vw;
      &--wrap {
        > div {
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            margin: 16px 0;
            position: relative;
          }
        }
        &--title {
          height: 40px;
          font-size: 1.6rem;
        }
        &--description {
          font-size: 1.4rem;
        }
        &--img {
          position: absolute;
        }
        &--rcm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background: rgba($color: $gray, $alpha: 0.7);
          position: relative;
          z-index: 3;
        }
        dl {
          dt {
            font-size: 1.3rem;
          }
        }
        &--contents {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}
