nav.nav
	ul.nav__link
		li 
			a(href="#").nav__link--icon
				img(src="img/logo.svg", alt="IT19")
		li 
			a(href="#rcm") IT19とは
		li 
			a(href="#course") コース紹介
		li 
			a(href="#style") 学習スタイル
		li 
			a(href="#user") 利用の一例
		li 
			a(href="#faq") よくある質問
	a(href="#").nav__counseling 今すぐ無料カウンセリング
div.nav__btn
	div.nav__btn--bdr
div.nav__fixedCounseling 今すぐ無料カウンセリング