nav.nav
	ul.nav__link
		li 
			a(href="#")
				img(src="img/logo.svg", alt="IT19")
		li 
			a(href="#rcm") IT19とは
		li 
			a(href="#course") コース紹介
		li 
			a(href="#style") 学習スタイル
		li 
			a(href="#user") だれだれの場合
	a(href="counseling.html").nav__counseling 今すぐ無料カウンセリング 