doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/index.css")
		title IT19
	body
		include _nav.pug
		main.index
			section.index__fv
				div.index__fv--logo
					h1
						img(src="img/index_watashirashii_1.svg",alt="ITでわたしらしい働き方を")
					a(href="#") 今すぐ無料カウンセリング
			section.index__rcm#rcm
				h2.index__rcm--title
					img(src="img/index_watashirashii_2.svg",alt="わたしらしい働き方がしたい")
				p.index__rcm--text
					|IT19が考える
					span わたし
					| らしい働き方とは
				div
					div.index__rcm--flow
						div.index__rcm--flow--num 01
						div.index__rcm--flow--img
								img(src="img/index_like_1.png")
						div.index__rcm--flow--text
							h3 手に職をつけられる
							p サンプルテキストっぽいな？サンプルテキストっぽいな？サンプルテキストっぽいな？
					div.index__rcm--flow
						div.index__rcm--flow--num 02
						div.index__rcm--flow--img
							img(src="img/index_like_2.png")
						div.index__rcm--flow--text
							h3 仕事が安定している
							p サンプルテキストっぽいな？サンプルテキストっぽいな？サンプルテキストっぽいな？
					div.index__rcm--flow
						div.index__rcm--flow--num 03
						div.index__rcm--flow--img
							img(src="img/index_like_3.png")
						div.index__rcm--flow--text
							h3 転職しやすい
							p サンプルテキストっぽいな？サンプルテキストっぽいな？サンプルテキストっぽいな？
			section.index__woman
				h2.index__woman--title
					img(src="img/index_watashirashii_3.svg",alt="なぜ女性にIT業界が選ばれるのか？")
				div
					div.index__woman--img
						img(src="img/index_woman.png")
					div.index__woman--text
						p サンプルテキストっぽいな？サンプルテキストっぽいな？サンプルテキストっぽいな？
			section.index__marketing#marketing
				h2.index__marketing--title
					|講師
					span.index__marketing--title--accent 1
					|人に対して生徒最大
					span.index__marketing--title--accent 9
					|人<br>
					|少人数制の
					span 塾
					|を、インフラに根強いソフタスで。
				p.index__marketing--description
					|IT19とはLMSという学習管理システムを用いた教育関連サービスです<br>
					|資格取得を目的とした、現役技術者から学べる技術者育成サービスです。<br>
					|付随して、教育機関や企業への支援や就職支援も行っております。
				section.index__marketing--flow
					div.index__marketing--flow--txt
						div
							h3.index__marketing--flow--title 就職サポート
							p.index__marketing--flow--description
								|IT19では資格取得のみならず、その先の就職まで全面的にサポートいたします。<br>
								|※企業様からの研修のご依頼の場合、こちらは対象外となります。
						div
							div.index__marketing--flow--point IT19が就職をサポートします
							div.index__marketing--flow--point 手に職をつける手助けを
					figure.index__marketing--flow--img
						img(src="img/index_flow_1.png")
				section.index__marketing--flow
					div.index__marketing--flow--txt
						div
							h3.index__marketing--flow--title 実質無料
							p.index__marketing--flow--description
								|IT19を通じて就職が決定すると、全額返金キャッシュバックを行います！<br>
								|※企業様からの研修のご依頼の場合、こちらは対象外となります。
						div
							div.index__marketing--flow--point IT19が就職をサポートします
							div.index__marketing--flow--point 手に職をつける手助けを
					figure.index__marketing--flow--img
						img(src="img/index_flow_2.png")
				section.index__marketing--flow
					div.index__marketing--flow--txt
						div
							h3.index__marketing--flow--title 実機での学習
							p.index__marketing--flow--description IT19では、実機をご用意した本格的な演習が可能です。資格取得だけでない、実用的なスキルを身につけることができます。
						div
							div.index__marketing--flow--point IT19が就職をサポートします
							div.index__marketing--flow--point 手に職をつける手助けを
					figure.index__marketing--flow--img
						img(src="img/index_flow_3.png")
			section.index__course#course
				h2.index__course--title コース紹介
				p.index__course--description サンプルテキスト
				div
					section.index__course--wrap
						h3.index__course--wrap--title
						div
							p.index__course--wrap--description
							figure.index__course--wrap--img
							div.index__course--wrap--rcm
								span 1
								|日
								span 1
								|時間<br>
								|約
								span.index__course--wrap--period
								|ヶ月
							dl
								dt 学習内容
								dd.index__course--wrap--contents
			section.index__style#style
				h2.index__style--title 学習スタイル
				p.index__style--description サンプルテキスト
				div
					section.index__style--wrap
						figure.index__style--wrap--figure
							p.index__style--wrap--en
							div
						h3.index__style--wrap--title
			section.index__user#user
				h2.index__user--title 利用の流れの一例
				p.index__user--description サンプルテキスト
				section.index__user--wrap
					div.index__user--wrap--course
					div
						div.index__user--wrap--icon
						div
							h3.index__user--wrap--headline
							div.index__user--wrap--text
				a(href="#").index__user--btn もっと見る
			section.index__faq#faq
				h2.index__faq--title よくある質問
				div.index__faq--wrap
					div
						div.index__faq--wrap--q
						div.index__faq--wrap--mark
					div.index__faq--wrap--a
			section.index__counseling
				p.index__counseling--txt IT業界への一歩を進めよう（仮）
				a(href="#").index__counseling--link 今すぐ無料カウンセリング 
			div.index__modal
				div
					div.index__modal--head
						div.index__modal--head--title
						div.index__modal--head--en
					div.index__modal--wrap
						div.index__modal--wrap--img
						div
							div.index__modal--wrap--headline
							div.index__modal--wrap--text
					div.index__modal--back
					div.index__modal--arrow
						div.index__modal--arrow--prev
						div.index__modal--arrow--next
		include _foot.pug